img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

a:link {
  color: #589DF6;
}

.ContentWrapper {
  display: flex;
  width: 80%;
}
.ContentBody {
  flex: 1;
}
.ContentImage {
  width: 300px;
}