.toot-row {
  -fx-background-color: #2B2B2B;
  -fx-text-background-color: #A9B7C6;
}

.-favorited{
  -fx-text-background-color: #A8C023;
}

.toot-row:hover{
  -fx-background-color: #303030;
}

.toot-row:selected{
  -fx-background-color: #333333;
}